*, *:before, *:after { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  margin: 10px;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #3498db;
}

a.links {
  display: none;
}

.content {
  width: 700px;
  margin: 20px auto;
  position: relative; 
  background-color: #fff; 
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

::-webkit-input-placeholder {
  color: #777;
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #777; 
  font-style: italic;
} 

input {
  outline: none;
}

input:not([type="checkbox"]) {
  width: 100%;
  margin-top: 10px; 
  padding: 12px; 
  border: 1px solid #ddd; 
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  transition: all 0.3s ease-in-out;
}

input.salv[type="submit"] {
  width: 100%!important;
  cursor: pointer;  
  background: #3498db; 
  padding: 12px;
  color: #fff; 
  font-size: 18px; 
  border: 1px solid #2980b9; 
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #2077b8;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: #2980b9; 
}

button{
  width: 20%;
  text-align: center;
}

.link {
  position: relative;
  background: #ecf0f1; 
  color: #333; 
  height: 20px;
  width: 100%; 
  padding: 15px; 
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #bdc3c7; 
  border-radius: 0 0 8px 8px; 
}

.link a {
  font-weight: bold;
  background: #3498db; 
  padding: 8px;
  color: #fff; 
  margin-left: 10px;
  border: 1px solid #2980b9;
  border-radius: 4px;  
  transition: background-color 0.3s ease-in-out;
}

.link a:hover {
  background: #2980b9; 
  border: 1px solid #2077b8; 
  color: #fff;
}
.content {
  width: 700px;
  margin: 20px auto;
  position: relative; 
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
    padding: 10px;
  }

  input:not([type="checkbox"]) {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 10px;
  }

  input.salv[type="submit"] {
    padding: 10px;
    font-size: 16px;
  }

  .link {
    padding: 15px;
  }

  .link a {
    padding: 8px;
  }
}
